zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/cache.properties
zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/cache.properties.lock
zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/fileHashes.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
zhy_ScaleGesture-singlePic/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
zhy_ScaleGesture-singlePic/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
zhy_ScaleGesture-singlePic/.idea/copyright/profiles_settings.xml
zhy_ScaleGesture-singlePic/.idea/libraries/support_v4_18_0_0.xml
zhy_ScaleGesture-singlePic/.idea/compiler.xml
zhy_ScaleGesture-singlePic/.idea/gradle.xml
zhy_ScaleGesture-singlePic/.idea/misc.xml
zhy_ScaleGesture-singlePic/.idea/modules.xml
zhy_ScaleGesture-singlePic/.idea/runConfigurations.xml
zhy_ScaleGesture-singlePic/.idea/workspace.xml
zhy_ScaleGesture-singlePic/app/build/generated/source/buildConfig/androidTest/debug/com/zhy/zhy_scalegesturedetector02/test/BuildConfig.java
zhy_ScaleGesture-singlePic/app/build/generated/source/buildConfig/debug/com/zhy/zhy_scalegesturedetector02/BuildConfig.java
zhy_ScaleGesture-singlePic/app/build/generated/source/r/debug/com/zhy/zhy_scalegesturedetector02/R.java
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/multi/values.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/multi/values-sw720dp-land-v13.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/multi/values-v11.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/multi/values-v14.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/layout.json
zhy_ScaleGesture-singlePic/app/build/intermediates/blame/res/debug/single/menu.json
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/view/ZoomImageView$1.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/view/ZoomImageView$AutoScaleRunnable.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/view/ZoomImageView.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/BuildConfig.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/MainActivity.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$attr.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$dimen.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$drawable.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$id.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$layout.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$menu.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$string.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R$style.class
zhy_ScaleGesture-singlePic/app/build/intermediates/classes/debug/com/zhy/zhy_scalegesturedetector02/R.class
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/compileDebugAidl/dependency.store
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugResources/merger.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/packageDebug/zip-cache/snDucsSNBLAS7n3csVWBm6VEXgg=
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental/packageDebug/file-input-save-data.txt
zhy_ScaleGesture-singlePic/app/build/intermediates/incremental-safeguard/debug/tag.txt
zhy_ScaleGesture-singlePic/app/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/pre-dexed/debug/debug_3707542b6dd64c77651cba88a73aa3f4305e0d15.jar
zhy_ScaleGesture-singlePic/app/build/intermediates/pre-dexed/debug/support-v4-18.0.0_85e34bcfaecf46fdb200ffb3df40ba986bed7718.jar
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-hdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/a.jpg
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/tbug.jpg
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/xx.jpg
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-mdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-xhdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/drawable-xxhdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/layout/activity_main.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/layout/vp.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/menu/main.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/values/values.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/values-sw720dp-land-v13/values-sw720dp-land-v13.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/values-v11/values-v11.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/merged/debug/values-v14/values-v14.xml
zhy_ScaleGesture-singlePic/app/build/intermediates/res/resources-debug.ap_
zhy_ScaleGesture-singlePic/app/build/intermediates/res/resources-debug-androidTest.ap_
zhy_ScaleGesture-singlePic/app/build/intermediates/transforms/dex/debug/folders/1000/1f/main/classes.dex
zhy_ScaleGesture-singlePic/app/build/outputs/apk/app-debug.apk
zhy_ScaleGesture-singlePic/app/build/outputs/logs/manifest-merger-debug-report.txt
zhy_ScaleGesture-singlePic/app/src/main/java/com/zhy/view/ZoomImageView.java
zhy_ScaleGesture-singlePic/app/src/main/java/com/zhy/zhy_scalegesturedetector02/MainActivity.java
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-hdpi/a.jpg
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-hdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-hdpi/tbug.jpg
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-hdpi/xx.jpg
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-mdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-xhdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/src/main/res/drawable-xxhdpi/ic_launcher.png
zhy_ScaleGesture-singlePic/app/src/main/res/layout/activity_main.xml
zhy_ScaleGesture-singlePic/app/src/main/res/layout/vp.xml
zhy_ScaleGesture-singlePic/app/src/main/res/menu/main.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values/dimens.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values/strings.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values/styles.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values-sw600dp/dimens.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values-sw720dp-land/dimens.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values-v11/styles.xml
zhy_ScaleGesture-singlePic/app/src/main/res/values-v14/styles.xml
zhy_ScaleGesture-singlePic/app/src/main/AndroidManifest.xml
zhy_ScaleGesture-singlePic/app/app.iml
zhy_ScaleGesture-singlePic/app/build.gradle
zhy_ScaleGesture-singlePic/build/generated/mockable-android-25.jar
zhy_ScaleGesture-singlePic/build/intermediates/dex-cache/cache.xml
zhy_ScaleGesture-singlePic/gradle/wrapper/gradle-wrapper.jar
zhy_ScaleGesture-singlePic/gradle/wrapper/gradle-wrapper.properties
zhy_ScaleGesture-singlePic/build.gradle
zhy_ScaleGesture-singlePic/gradlew
zhy_ScaleGesture-singlePic/gradlew.bat
zhy_ScaleGesture-singlePic/import-summary.txt
zhy_ScaleGesture-singlePic/local.properties
zhy_ScaleGesture-singlePic/settings.gradle
zhy_ScaleGesture-singlePic/zhy_ScaleGesture-singlePic.iml
